@model Employee[]

@{ ViewBag.Title = "List of Employees";}

    <div>
        <ul>
            @foreach (var item in Model)
            {
            <li>
                <a asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
                <hr class="separator" />
            </li>
            }
        </ul>
    </div>
    <a class="button button-primary" asp-controller="Employees" asp-action="Create">Add Employee</a>